#fejk {
  background-image: url(resources/fejk_img.avif);
  background-size: cover;
  background-position: center;
}

#peterpan {
  background-image: url(resources/peterPan_img.png);
  background-size: cover;
  background-position: right;
}

#socialdemokraterna {
  background-image: url(resources/socialdemokraterna_img.png);
  background-size: cover;
  background-position: center;
}

#vernissage {
  background-image: url(resources/vernissage_img.png);
  background-size: cover;
  background-position: center;
}

#littleme {
  background-image: url(resources/littleme_img.png);
  background-size: cover;
  background-position: center;
}

#joseflove {
  background-image: url(/resources/joseflove_img.jpg);
  background-size: cover;
  background-position: center;
}

#hyksoz {
  background-image: url(/resources/hyksoz_img.jpg);
  background-size: cover;
  background-position: center;
}

#samtal {
  background-image: url(/resources/samtal_img.jpg);
  background-size: cover;
  background-position: center;
}

#vidar {
  background-image: url(/resources/vidar_img.jpg);
  background-size: cover;
  background-position: center;
}