#fejk {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/fejk_img.avif');
  background-size: cover;
  background-position: center;
}

#peterpan {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/peterPan_img.png');
  background-size: cover;
  background-position: right;
}

#socialdemokraterna {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/socialdemokraterna_img.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#vernissage {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/vernissage_img.png');
  background-size: cover;
  background-position: center;
}

#littleme {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/littleme_img.png');
  background-size: cover;
  background-position: center;
}

#kainoabel {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/kainoabel.png');
  background-size: cover;
  background-position: center;
}

#erikgadd {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/erikgadd.jpg');
  background-size: cover;
  background-position: center;
  cursor: default;
}

#joseflove {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/joseflove_img.jpg');
  background-size: cover;
  background-position: center;
}

#allatiders {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/allatiders.jpg');
  background-size: cover;
  background-position: center;
}

#lenabergendahl {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/lenabergendahl.png');
  background-size: cover;
  background-position: top;
}

#emilspännare {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/emilspännare.png');
  background-size: cover;
  background-position: center;
}

#grandpremiere {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/grandpremiere.jpg');
  background-size: cover;
  background-position: top;
}

#glasklart {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/glasklart.png');
  background-size: cover;
  background-position: center;
  cursor: default;
}

#vidar {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/vidar_img.jpg');
  background-size: cover;
  background-position: center;
}

#hyksoz {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/hyksoz_img.jpg');
  background-size: cover;
  background-position: center;
}

#timewaste {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/timewaste.png');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position-y: 30%;
  background-position-x: 10%;
}

#makeitgold {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/makeitgold.png');
  background-size: cover;
  background-position: center;
}

#samtal {
  background-image: url('https://davidhak.github.io/jakoberlandson/resources/samtal_img.jpg');
  background-size: cover;
  background-position: center;
}